.main-body {
    clip-path: polygon(0 0, 21% 0, 58% 100%, 0% 100%);
    background-color: #25273d;
  }


  .modal-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #87878790;
  }
  
  .modal-container{
    position: fixed;
    max-width: 30rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input{
  /* outline: none; */
  padding: 10px;
  height: 30px;
}
input:focus{
  background-color: #e9eaff;
  padding: 5px;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}